<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mensagem Enviada</title>
    <th:block th:replace="fragmentos :: head(title='Mensagem Enviada')" />
</head>
<body>
<div th:replace="fragmentos :: header('Mensageria - Confirmação')"></div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center p-4">
                <h4 class="mb-3">Mensagem enviada com sucesso para a fila RabbitMQ!</h4>
                <a th:href="@{/mensageria/enviar}" class="btn btn-outline-nexo mt-2">Enviar outra mensagem</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
